/.env
/.env.backup
/.idea
/vendor
/node_modules
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/app/*
!/storage/app/.gitkeep
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitkeep
!/storage/app/private
/storage/app/private/*
!/storage/app/private/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/*.key
/storage/logs/*.log
/.phpunit.cache
/.phpunit.result.cache
